{% extends 'base.html.twig' %}

{% block title %}Liste des marques{% endblock %}

{% block body %}
	<div class="container">
		<a href="{{ path("brands_create") }}" class="btn btn-primary">
			Ajouter une marque
		</a>

		<h1>Liste des marques</h1>
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
			{% for brand in brands %}
				<tr>
					<td>{{ brand.id }}</td>
					<td>{{ brand.name }}</td>
					<td>
						<a href="{{ path("brands_view", {id: brand.id}) }}" class="btn btn-primary">Voir</a>
					</td>
					<td>
						<a href="{{ path("brands_edit", {id: brand.id}) }}" class="btn btn-primary">Editer</a>
					</td>
					<td>
						<a href="{{ path("brands_remove", {id: brand.id}) }}" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
