{% extends 'base.html.twig' %}

{% block title %}{{ brand.name }}{% endblock %}

{% block body %}
	<div class="container">

		<h1>{{ brand.name }}</h1>
		<table class="table table-striped">
			<tr>
				<td>Id</td>
				<td>{{ brand.id }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ brand.name }}</td>
			</tr>
			<tr>
				<td>Voiture</td>
				<td>
					{% for car in brand.cars %}
						{{ car.name }} - {{ car.price }} <br>
					{% endfor %}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
