{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajouter une voiture</h1>
		{{form_start(form, {attr: {novalidate:'novalidate'}})}}
			{{form_row(form)}}
			<button class="btn btn-success">
				Sauvegarder
			</button>
		{{form_end(form)}}
	</div>

{% endblock %}
