{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block body %}
	<div class="container">
		<a href="{{ path("cars_create") }}" class="btn btn-primary">
			Ajouter une voiture
		</a>	

		<br>
		<br>



		<form method="get">
			<input type="text" name="keywords" placeholder="Saisissez des mots clés" class="form-control" style="width:250px;float:left;" value="{{(app.request.query.get("keywords"))}}">
			<button class="btn btn-success" style="margin-left:15px;">Rechercher</button>
		</form>

		<h1>Liste des voitures</h1>
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Poids</th>
				<th>Prix</th>
				<th>Action</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
			{% for car in cars %}
				<tr>
					<td>{{ car.id }}</td>
					<td>{{ car.name }}</td>
					<td>{{ car.weight }}</td>
					<td>{{ car.price }}</td>
					<td>
						<a href="{{ path("cars_view", {id: car.id}) }}" class="btn btn-primary">Voir</a>
					</td>
					<td>
						<a href="{{ path("cars_edit", {id: car.id}) }}" class="btn btn-primary">Editer</a>
					</td>
					<td>
						<a href="{{ path("cars_remove", {id: car.id}) }}" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
