{% extends 'base.html.twig' %}

{% block title %}{{ car.name }}{% endblock %}

{% block body %}
	<div class="container">

		<h1>{{ car.name }}</h1>
		<table class="table table-striped">
			<tr>
				<td>Id</td>
				<td>{{ car.id }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ car.name }}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>{{ car.price }}</td>
			</tr>
			<tr>
				<td>Weight</td>
				<td>{{ car.weight }}</td>
			</tr>
		</table>
	</div>
{% endblock %}
